# ==========================================
# CONFIGURAÇÕES DO CLIENTE
# ==========================================
CLIENTE_NOME=nome_do_cliente
DOMINIO_BASE=000.000.000.000.nip.io

# ==========================================
# INFRAESTRUTURA: BANCO DE DADOS CENTRAL
# ==========================================
POSTGRES_USER=postgres_master
POSTGRES_PASSWORD=

# ==========================================
# APLICAÇÕES: CREDENCIAIS DE BANCO E CHAVES
# ==========================================
# N8N
N8N_DB_PASS=
N8N_ENCRYPTION_KEY=

# ODOO
ODOO_DB_PASS=

# WINDMILL
WINDMILL_DB_PASS=

# CHATWOOT
CHATWOOT_DB_PASS=

# TYPEBOT
TYPEBOT_DB_PASS=
TYPEBOT_ENCRYPTION_SECRET=