# ==========================================
# CONFIGURAÇÕES DO CLIENTE
# ==========================================
CLIENTE_NOME=nome_do_cliente
DOMINIO_BASE=000.000.000.000.nip.io

# ==========================================
# INFRAESTRUTURA: BANCO DE DADOS CENTRAL
# ==========================================
POSTGRES_USER=postgres_master
POSTGRES_PASSWORD=

# ==========================================
# APLICAÇÕES: CREDENCIAIS DE BANCO E CHAVES
# ==========================================
# N8N
N8N_DB_PASS=
N8N_ENCRYPTION_KEY=

# ODOO
ODOO_DB_PASS=

# WINDMILL
WINDMILL_DB_PASS=

# CHATWOOT
CHATWOOT_DB_PASS=
CHATWOOT_SECRET=cole_aqui_a_chave_gerada_com_openssl

# ------------------------------
# TYPEBOT CONFIGS
# ------------------------------
TYPEBOT_DB_PASS=senha_typebot_123

# URLs do Typebot (Devem ser EXATAMENTE como configuradas no NPM)
TYPEBOT_BUILDER_URL=
TYPEBOT_VIEWER_URL=

# Segurança (Rode 'openssl rand -hex 16' para gerar essa chave)
TYPEBOT_ENCRYPTION_SECRET=

# Conta Mestre
TYPEBOT_ADMIN_EMAIL=

# ------------------------------
# SMTP (Envio de E-mails)
# ------------------------------
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
NEXT_PUBLIC_SMTP_FROM=
