# ==========================================
# CONFIGURAÇÕES DO CLIENTE
# ==========================================
CLIENTE_NOME=nome_do_cliente
DOMINIO_BASE=177.153.194.108.nip.io

# ==========================================
# INFRAESTRUTURA: BANCO DE DADOS CENTRAL
# ==========================================
POSTGRES_USER=postgres_master
POSTGRES_PASSWORD=senha_master_segura

# ==========================================
# APLICAÇÕES: CREDENCIAIS DE BANCO E CHAVES
# ==========================================
# N8N
N8N_DB_PASS=senha_banco_n8n
N8N_ENCRYPTION_KEY=chave_criptografia_aleatoria_n8n

# ODOO
ODOO_DB_PASS=senha_banco_odoo

# WINDMILL
WINDMILL_DB_PASS=senha_banco_windmill

# CHATWOOT
CHATWOOT_DB_PASS=senha_banco_chatwoot